@media print {
     body {margin-top: 0mm; margin-bottom: 0mm; 
           margin-left: 0mm; margin-right: 0mm}
}

.web_only{
    display: none;
}

.print_only{
    display: block;
}

h1{
    font-size: 1.9em;
}

h2{
    font-size:1.4em;
}

h3{
    font-size: 1.2em;
}

p{
    font-size:0.9em;
}

td{
    font-family: Droid Sans, Sans;
    font-size:1.1em;
}

.menu_circle{
    webkit-print-color-adjust: exact;
}

.main_navigator {
    display: none;
}

#pdf_header > *{
    -webkit-print-color-adjust: exact;
}

#logo_menu{
    width: 150px;
    height: 150px;
}

.menu_circle img {
    margin-top: 34px;
    margin-left: 25px;
}

.contact_information{
    margin-top: 65px;
}

.contact_information tr > td:first-child{
    text-align: right;
    padding-right:20px;
}

.contact_information tr > td:last-child{
    text-align: left;
}


.experience_left{
    width:500px;
    float: left !important;
    min-width: 360px;
}

.experience_right-child{
    width:700px;
    float: none !important;
}

.footer{
    display: none;
}